html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #fff;
  background-image: url('https://raw.githubusercontent.com/abhisheksik/celebration-pharma/main/Novartis%20background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 50px;
}

p {
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 8px 16px;
  border-radius: 8px;
}
